body {
    margin: 0;
    padding: 20px;
    font-family: sans-serif;
    text-align: center;
}

ol {
    padding-left: 0;
    list-style-position: inside;
    /*list-style-type: none;*/
}

li {
    cursor: pointer;
}